sup {
  margin: 0 5px;
}

button {
  margin: 3px;
}

ul {
  list-style-type: none;
}

.monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.9em;
}

.App {
  text-align: center;
}

.logo {
  width: 40%;
  max-width: 400px;
  margin: 20px auto auto auto;
}

.TokenList {
  padding: 10px;
}

@media (min-width: 1200px) {
  .TokenList {
    width: 80%;
    margin: auto;
  }
}

.Token {
  text-align: left;
  padding: 3px;
}

.TokenBalance {
  display: flex;
  align-items: center;
}

.TokenBalance img {
  margin-right: 5px;
}

.AllowanceList {
  padding-left: 20px;
}

.NewAllowance {
  width: 50px;
  margin-left: 3px;
}
