@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Futura Condensed';
  src: url('/assets/fonts/FuturaCondensedBold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Condensed';
  src: url('/assets/fonts/FuturaCondensedBoldOblique.otf');
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

// /////////////////////////////////////////////////////////////////////////////

$primary: black;
$secondary: black;

@import 'bootstrap';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1;
}

sup {
  margin: 0 5px;
}

a:link:not(.btn) {
  color: blue;
}

a:visited:not(.btn) {
  color: purple;
}

.monospace {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 0.9em;
}

.App {
  text-align: center;
}

.logo {
  width: 100%;
  max-width: 400px;
  min-width: 200px;
}

.AddressInput {
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 800px;
  width: 100%;
}

// Fix display issues for very small screens
@media (max-width: 500px) {
  .AddressInput {
    font-size: 0.875rem;
  }

  .input-group-text,
  .btn {
    font-size: 0.875rem;
    padding: 0.25rem 0.5rem;
  }
}

.TokenList {
  padding: 10px;
  width: 100%;
  max-width: 1000px;
  margin: auto;
}

.Token {
  text-align: left;
  margin: 10px;
}

.TokenBalance {
  display: flex;
  align-items: center;
}

.TokenBalance a {
  display: flex;
  align-items: center;
}

.TokenBalance img {
  margin-right: 5px;
}

.AllowanceList {
  margin-top: 2px;
  padding-left: 20px;
}

.Allowance {
  margin-bottom: 5px;
}

.AllowanceText {
  margin-bottom: 2px;
  margin-right: 5px;
}

.NewAllowance {
  margin-left: 5px;
}

// Make all buttons just a bit smaller so more information can fit on the screen
.btn-sm {
  padding: 0rem 0.4rem;
  line-height: 1.4;
}

.input-group-sm > .input-group-append > .btn {
  padding: 0rem 0.4rem;
  line-height: 1.4;
}

.input-group-sm > .form-control:not(textarea) {
  padding: 0rem 0.5rem;
  line-height: 1.4;
  height: calc(1.4em + 0rem + 2px);
  width: 70px;
}

// At around 600px the update button does not fit on the same line any more,
// so move all buttons over to a new line
@media (max-width: 600px) {
  .form-inline label {
    width: 100%;
    justify-content: start;
  }
  .input-group-sm {
    width: 10rem;
  }
}

.only-mobile {
  display: none;
}
.only-mobile-flex {
  display: none;
}
.only-mobile-inline {
  display: none;
}

.only-desktop {
  display: block;
}
.only-desktop-flex {
  display: flex;
}
.only-desktop-inline {
  display: inline;
}

@media (max-width: 850px) {
  .only-mobile {
    display: block;
  }
  .only-mobile-flex {
    display: flex;
  }
  .only-mobile-inline {
    display: inline;
  }

  .only-desktop {
    display: none;
  }
  .only-desktop-flex {
    display: none;
  }
  .only-desktop-inline {
    display: none;
  }
}
