@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@font-face {
  font-family: 'Futura Condensed';
  src: url('/assets/fonts/FuturaCondensedBold.otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura Condensed';
  src: url('/assets/fonts/FuturaCondensedBoldOblique.otf');
  font-weight: bold;
  font-style: oblique;
  font-display: swap;
}

.btn-primary {
  @apply duration-150 rounded border border-black bg-white px-4 py-1.5 text-xs font-medium text-black hover:text-white  hover:bg-gray-900 focus:outline-none;
}

.container-primary {
  @apply mx-auto max-w-5xl px-4 sm:px-6 lg:px-8;
}

.dev {
  @apply border border-yellow-500;
}
